<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MasonryWithScrollview.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A0D2DF701C2BAA7A00D42550</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0D2DF891C2BAA8500D42550</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0D2DF941C2BAA8700D42550</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
